{% extends 'base.html.twig' %}

{% block body %}
    <a class="btn" href="{{ path('advert_user') }}">Back to the list</a>
    {{ form_start(edit_form, {'method': 'post', 'action': path('advert_new'), 'attr': {'class': 'form-signin fos_user_registration_register'}}) }}
    <h3 class="text-center">Edit Ad</h3>

    <div class="form-group">
        {{ form_row(edit_form.title, { 'attr' : { 'class': 'form-control' } }) }}
    </div>
    <div class="form-group">
        {{ form_row(edit_form.description, { 'attr' : { 'class': 'form-control' } }) }}
    </div>
    <div>
        <input class="btn btn-success btn-block" type="submit" value="Edit" />
    </div>
    <br>
    </ul>
    {{ form_end(edit_form) }}
    <br>

    <div class="col-md-4 col-md-offset-4">
        {{ form_start(delete_form) }}
        <input class="btn btn-danger btn-block" type="submit" value="Delete">
        {{ form_end(delete_form) }}
    </div>

    <br>


{% endblock %}