{% extends 'base.html.twig' %}

{% block body %}
    <h2 class="text-center">Advertisements List</h2>

    <table class="table table-responsive">
        <thead>
        <tr>
            <th>Id</th>
            <th>Title</th>
            <th>Description</th>
            <th>Posted by</th>
            <th>Created</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>

        {% for article in pagination %}
            <tr {% if loop.index is odd %}class="color"{% endif %}>
                <td><a href="{{ path('advert_show', { 'id': article.id }) }}">{{ article.id }}</a></td>
                <td>{{ article.title }}</td>
                <td>{{ article.description |truncate(45) }}</td>
                <td>{{ article.user }}</td>
                <td>{% if article.modifiedat %}{{ article.modifiedat|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                    <ul>
                        <a class="btn btn-success" href="{{ path('advert_show', { 'id': article.id }) }}">show</a>
                    </ul>
                </td>

            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="navigation">
        {{ knp_pagination_render(pagination) }}
    </div>
{% endblock %}