{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="text-center">Your Ads</h1>

    <table class="table table-responsive">
        <thead>
        <tr>
            <th>Id</th>
            <th>Title</th>
            <th>Description</th>
            <th>Created</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for advert in adverts %}
            <tr>
                <td><a href="{{ path('advert_show', { 'id': advert.id }) }}">{{ advert.id }}</a></td>
                <td>{{ advert.title }}</td>
                <td>{{ advert.description |truncate(45) }}</td>
                <td>{% if advert.modifiedat %}{{ advert.modifiedat|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                    <a class="btn btn-success" href="{{ path('advert_edit', { 'id': advert.id }) }}">Edit</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}